backupflows-BackupFLows.json
{
  "updatedAt": "2025-11-08T20:52:49.000Z",
  "createdAt": "2025-11-08T19:31:34.039Z",
  "id": "rQpVJ8k0MyYYsxoG",
  "name": "BackupFLows",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "925b332c-7194-4498-b3a8-9a75c983e11e",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -336,
        208
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "7496bded-aaf8-474f-99ab-15bdfe6459bd",
      "name": "Retrieve workflows",
      "type": "n8n-nodes-base.n8n",
      "position": [
        336,
        208
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "U8MaW0kEGeWFZDJx",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "name"
            }
          ]
        },
        "options": {}
      },
      "id": "38f335ce-2f4f-4e6e-8a0c-bda328937d1d",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        112,
        208
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "value": "julio7528",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "https://github.com/julio7528/n8n",
          "mode": "url"
        },
        "filePath": "="
      },
      "id": "97635a3f-964d-4264-9a02-6f504d774d07",
      "name": "List files from repo",
      "type": "n8n-nodes-base.github",
      "position": [
        -112,
        208
      ],
      "webhookId": "354d699e-44b0-4444-9d31-af7fd4ff5561",
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {
        "githubApi": {
          "id": "BKDlchQTpt8fMvVY",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "julio7528",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "https://github.com/julio7528/n8n",
          "mode": "url"
        },
        "filePath": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.name }}.json",
        "fileContent": "={{ $('To base64').item.json.data }}",
        "commitMessage": "=backup-{{ $('Commit date & file name').item.json.commitDate }}"
      },
      "id": "2af8db27-0fb2-478a-9ee1-154ae0a6f583",
      "name": "Update file",
      "type": "n8n-nodes-base.github",
      "position": [
        1456,
        88
      ],
      "webhookId": "27218087-8df7-474d-a39f-70cfa9c34ec8",
      "typeVersion": 1,
      "credentials": {
        "githubApi": {
          "id": "BKDlchQTpt8fMvVY",
          "name": "GitHub account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "julio7528",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "https://github.com/julio7528/n8n",
          "mode": "url"
        },
        "filePath": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.name }}.json",
        "fileContent": "={{ $('To base64').item.json.data }}",
        "commitMessage": "=backup-{{ $node['Commit date & file name'].json.commitDate }}"
      },
      "id": "e430b062-df98-4ec9-9f41-1fa3e5a416f2",
      "name": "Upload file",
      "type": "n8n-nodes-base.github",
      "position": [
        1456,
        328
      ],
      "webhookId": "ce4b561b-acb9-4cd8-b76f-4928dada9674",
      "typeVersion": 1,
      "credentials": {
        "githubApi": {
          "id": "BKDlchQTpt8fMvVY",
          "name": "GitHub account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Aggregate').item.json.name }}",
              "operation": "contains",
              "value2": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.name }}.json"
            }
          ]
        }
      },
      "id": "0c824853-6ba7-4435-8abe-03f9f1d044a0",
      "name": "Check if file exists",
      "type": "n8n-nodes-base.if",
      "position": [
        1232,
        208
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "format": true
        }
      },
      "id": "63b31612-7552-40d9-b4ee-d68b9e34b304",
      "name": "Json file",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        560,
        208
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "id": "2492bda6-a9dd-4011-adf1-c14a8594ce2f",
      "name": "To base64",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        784,
        208
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Retrieve previous file names from Github",
        "height": 252,
        "width": 460,
        "color": 5
      },
      "id": "a685dacd-6542-4a94-8e8e-fa8a2aa1936a",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -182,
        116
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fe4a36ef-9f04-40e3-99bd-cc517a49b440",
              "name": "commitDate",
              "type": "string",
              "value": "={{ $now.format('dd-MM-yyyy/H:mm') }}"
            },
            {
              "id": "b0fe1bcc-e79c-4a6b-b8b4-44222c8bf4e8",
              "name": "fileName",
              "type": "string",
              "value": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.name }}.json"
            }
          ]
        },
        "options": {}
      },
      "id": "695af7b1-b576-49f2-bee6-474774f209cf",
      "name": "Commit date & file name",
      "type": "n8n-nodes-base.set",
      "position": [
        1008,
        208
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "### Retrieve and process workflows from n8n",
        "height": 252,
        "width": 652,
        "color": 3
      },
      "id": "c4b578d0-547b-4847-9250-dee8b5051cf6",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        282,
        116
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Commit + edit/create files if needed",
        "height": 668,
        "width": 1132,
        "color": 4
      },
      "id": "b20c476d-625e-459b-b91e-0630535846f7",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        944,
        -96
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "2Zvp6pDVrcGGqW9e",
          "mode": "list",
          "cachedResultName": "fluxos",
          "cachedResultUrl": "/projects/TlfmJa4WqVZC43Rf/datatables/2Zvp6pDVrcGGqW9e"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "nomearquivo": "={{ $json.content.name }}",
            "status": "updated"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "nomearquivo",
              "displayName": "nomearquivo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        1680,
        16
      ],
      "id": "881471d4-4b05-49c3-bb83-5fd81d574fa6",
      "name": "Update row(s)",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "2Zvp6pDVrcGGqW9e",
          "mode": "list",
          "cachedResultName": "fluxos",
          "cachedResultUrl": "/projects/TlfmJa4WqVZC43Rf/datatables/2Zvp6pDVrcGGqW9e"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "nomearquivo": "={{ $json.content.name }}",
            "status": "created"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "nomearquivo",
              "displayName": "nomearquivo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        1680,
        400
      ],
      "id": "fde6b534-fed1-4c7d-aaab-674162e814bb",
      "name": "Insert row",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "createdAt"
            },
            {
              "fieldToAggregate": "commit.author.date"
            },
            {
              "fieldToAggregate": "content.name"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1904,
        208
      ],
      "id": "d78109a4-4a98-4567-98b3-a827b0cc11f1",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Input: {{ $json.createdAt }} e {{ $json.date }} e {{ $json.name }} \nDefinição: são tres arrays que foram atualizados. São arquivos que foram criados ou feito upload para o github. \nProcesso: Preciso de um relatorio simples avisando que afoi atualizado ou criado no github.\nOutput: Aja como um analista que cuida dos arquivos do github e apresente o que aconteceu.\nFormato: Resumo do que aconteceu, Arquivos Afetados, Datas que ocorreram.",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        2128,
        208
      ],
      "id": "20957da4-0c02-4017-a562-531746e8f6b7",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2200,
        432
      ],
      "id": "2dcc42d5-0a0f-489c-aa4c-1599e26722a6",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "XFoPJMb6fDnItKib",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "=default",
        "chatId": "=5516982316520@c.us",
        "reply_to": "5516982316520@c.us",
        "text": "={{ $json.text }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [
        2480,
        208
      ],
      "id": "13cb3e66-c982-4d3c-996b-763edce034be",
      "name": "Send a text message",
      "credentials": {
        "wahaApi": {
          "id": "ASFsAIK5P6jCIPjx",
          "name": "WAHA account"
        }
      }
    }
  ],
  "connections": {
    "Aggregate": {
      "main": [
        [
          {
            "node": "Retrieve workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Json file": {
      "main": [
        [
          {
            "node": "To base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "To base64": {
      "main": [
        [
          {
            "node": "Commit date & file name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "List files from repo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve workflows": {
      "main": [
        [
          {
            "node": "Json file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if file exists": {
      "main": [
        [
          {
            "node": "Update file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List files from repo": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Commit date & file name": {
      "main": [
        [
          {
            "node": "Check if file exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update file": {
      "main": [
        [
          {
            "node": "Update row(s)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row(s)": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert row": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "2770576e-6bce-445a-bd50-fc933daf0dae",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-11-08T19:31:34.043Z",
      "createdAt": "2025-11-08T19:31:34.043Z",
      "role": "workflow:owner",
      "workflowId": "rQpVJ8k0MyYYsxoG",
      "projectId": "TlfmJa4WqVZC43Rf"
    }
  ],
  "tags": []
}