faturavivo-FaturaVivo.json
{
  "updatedAt": "2025-11-08T20:37:56.000Z",
  "createdAt": "2025-11-07T21:34:42.855Z",
  "id": "xeK6OjKJPRQ3N0si",
  "name": "FaturaVivo",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "=default",
        "chatId": "=5516982316520@c.us",
        "reply_to": "5516982316520@c.us",
        "text": "={{ $json.candidates[0].content.parts[0].text }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [
        1696,
        -80
      ],
      "id": "1b2b7900-03a7-4175-9048-396d91a07e0b",
      "name": "Send a text message",
      "credentials": {
        "wahaApi": {
          "id": "ASFsAIK5P6jCIPjx",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 1,
        "simple": false,
        "filters": {
          "q": "Sua Conta Digital Vivo chegou"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        672,
        -80
      ],
      "id": "34a99832-b3b6-498a-b7e1-7b1697187949",
      "name": "Get many messages",
      "webhookId": "b23ea209-dbbf-4e3a-a8dd-12bf3d339854",
      "credentials": {
        "gmailOAuth2": {
          "id": "tIhhid6JESx3yOaK",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash-preview-05-20",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash-preview-05-20"
        },
        "messages": {
          "values": [
            {
              "content": "=<prompt framework='TIDE'><tarefa>You are the financial assistant whose task is to process bill information.</tarefa><input>{{ $json.html }}</input><detalhe>Extract only the following specific pieces of information from the email: the bill's due date, the invoice number, the total amount due, the Pix copy-paste key for payment, and the barcode for payment. It is critical that no other information is included in the output.</detalhe><expectativa>Generate a message using only the extracted information, strictly following this exact template. Replace the bracketed placeholders with the corresponding data found in the email. The final output must be in Portuguese (pt-br). Fatura da Vivo - Vencimento {Data de Vencimento}- Fatura Número {Número da Fatura}- Valor {Valor Total}- Pagamento pelo Pix copia e cola {Chave Pix}- Código de barras {Código de Barras}</expectativa><languageoutput>pt-br</languageoutput></prompt>"
            }
          ]
        },
        "simplify": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        1344,
        -80
      ],
      "id": "35ffc063-1894-42a4-9cc8-0f8efac533d7",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "XFoPJMb6fDnItKib",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        224,
        -80
      ],
      "id": "60471086-f72a-4d0e-b604-9e31aa815bc5",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.currentDate }}",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        448,
        -80
      ],
      "id": "db90b95e-729c-4a0c-998d-98329242ffcb",
      "name": "Date & Time1"
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.date }}",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        896,
        -80
      ],
      "id": "22b0f7d0-15f2-4d00-ac82-e3753db0261e",
      "name": "Date & Time2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cef8afa4-baa4-45d5-aef0-3395f5eef1a0",
              "leftValue": "={{ $json.formattedDate }}",
              "rightValue": "={{ $('Date & Time1').item.json.formattedDate }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1120,
        -80
      ],
      "id": "32e6c67b-04d4-401e-a85e-0d314c5c9b8d",
      "name": "If"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 23
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        -80
      ],
      "id": "bd590223-c493-408f-a67f-898bc8961230",
      "name": "Schedule Trigger"
    }
  ],
  "connections": {
    "Get many messages": {
      "main": [
        [
          {
            "node": "Date & Time2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Date & Time1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time1": {
      "main": [
        [
          {
            "node": "Get many messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time2": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Sao_Paulo",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "f56a6153-25cf-484b-aed6-5e02f9ef8e90",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-11-07T21:34:42.859Z",
      "createdAt": "2025-11-07T21:34:42.859Z",
      "role": "workflow:owner",
      "workflowId": "xeK6OjKJPRQ3N0si",
      "projectId": "TlfmJa4WqVZC43Rf"
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-11-08T19:38:27.294Z",
      "createdAt": "2025-11-08T19:38:27.294Z",
      "id": "0bJvLzBFXjXAhOV2",
      "name": "Gmail"
    },
    {
      "updatedAt": "2025-11-08T19:38:39.715Z",
      "createdAt": "2025-11-08T19:38:39.715Z",
      "id": "DFElANMVY5yZKTlq",
      "name": "Wpp"
    }
  ]
}