wppsubstituto-WppSubstituto.json
{
  "updatedAt": "2025-11-09T03:51:06.000Z",
  "createdAt": "2025-11-09T00:36:26.105Z",
  "id": "lMOaENfQ41ffeQip",
  "name": "WppSubstituto",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "67856b7b-149b-44fc-a128-4f2157d63c5a",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -432,
        0
      ],
      "id": "f0c50f0f-6660-4b6b-b4e1-c6e81352e79b",
      "name": "Webhook",
      "webhookId": "67856b7b-149b-44fc-a128-4f2157d63c5a"
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "=default",
        "chatId": "={{ $('Webhook').item.json.body.payload._data.Info.Chat }}",
        "reply_to": "={{ $('Webhook').item.json.body.payload.id }}",
        "text": "=*[Atendimento AI (Em breve nossa central entrará em contato)]*\n{{ $json.output }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [
        432,
        0
      ],
      "id": "3e1b5d3f-5243-4fa7-b4ff-8fc4d79efbfa",
      "name": "Send a text message",
      "credentials": {
        "wahaApi": {
          "id": "ASFsAIK5P6jCIPjx",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={\n  \"input_template\": {\n    \"Nome\": \"[{{ $json.body.payload._data.Info.PushName }}]\",\n    \"Mensagem do remetente\": \"[{{ $json.body.payload.body }}]\"\n  },\n  \"role\": \"Você é a Empresa Modelo Marketing Top, agência de publicidade e desenvolvimento de automações e software. O Proprietário chama júlio (só existe ele na empresa) e estamos a 2 anos no mercado. Atendemos Landing PAges, SAAS, Automaçoes e RPA\",\n  \"rules\": [\n    \"Se for a primneira mensagem agradeça por entrar em contato.\",\n    \"Responda de forma educada, respeitosa, objetiva e breve, resolvendo a dúvida do remetente diretamente, sem prolongar a conversa ou solicitar dados desnecessários.\",\n    \"Não se apresente, nem inclua autodescrição no início da resposta.\",\n    \"Caso a mensagem seja pessoal ou não saiba a resposta, informe que irá verificar e responderá mais tarde, sendo cordial.\",\n    \"Para perguntas gerais (não pessoais), responda normalmente, mas sem excesso de detalhes ou complexidade.\",\n    \"Evite mensagens ambíguas ou genéricas (“Sim”, “Não” isolados), tornando a resposta clara e específica.\",\n    \"Nunca encaminhe o usuário para outro canal de atendimento, pois não existe outro canal de atendimento.\",\n    \"Caso receba insultos, seja neutro, ignore o teor ofensivo e responda de modo profissional ou desconsidere a mensagem.\"\n  ]\n}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -128,
        0
      ],
      "id": "3f4a509b-b2e2-4f64-963d-19457113a01e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        -272,
        208
      ],
      "id": "78ef277c-54b4-4ced-a9e5-65727e4e2e53",
      "name": "DeepSeek Chat Model",
      "credentials": {
        "deepSeekApi": {
          "id": "NEf35fgNtIU7S5ml",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        224,
        0
      ],
      "id": "48a01258-8e85-434d-9705-e8d988acbd72",
      "name": "Wait",
      "webhookId": "e2397b29-3463-409c-ace2-bc2deaa56957"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.payload.from }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -128,
        208
      ],
      "id": "cfb71215-0b08-41f0-bccf-d2b7fc241d40",
      "name": "Simple Memory"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "2bab5da7-5df1-4c97-8e28-631d7116d079",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-11-09T00:36:26.268Z",
      "createdAt": "2025-11-09T00:36:26.268Z",
      "role": "workflow:owner",
      "workflowId": "lMOaENfQ41ffeQip",
      "projectId": "TlfmJa4WqVZC43Rf"
    }
  ],
  "tags": []
}